---
  - name: Create folder for ISO Images Content
    ansible.builtin.file:
      path: "{{ IMAGES_CONTENT }}/{{ iso.file_name | ansible.builtin.splitext | first }}"
      state: directory
    register: content_folder_result
    
  - name: Copy ISO to ISO Images directory
    ansible.builtin.copy:
      src: ./ISO/{{ iso.file_name }}
      dest: "{{ ISO_IMAGES }}/"
    register: copy_ISO_result
    
  - block:
    - name: Mount ISO
      ansible.posix.mount:
        path: /media/ISO
        src: "{{ ISO_IMAGES }}/{{ iso.file_name  }}"
        fstype: iso9660
        opts: "loop"
        state: ephemeral
      when: copy_ISO_result.changed or content_folder_result.changed
      register: mount_ISO_result
    - name: Copy ISO files to Images Content directory
      ansible.posix.synchronize:
        src: /media/ISO/
        dest: "{{ IMAGES_CONTENT }}/{{ iso.file_name | ansible.builtin.splitext | first }}/"
        archive: true
      delegate_to: "{{ ansible_facts['default_ipv4']['address'] }}"
      when: mount_ISO_result.changed
    always:
    - name: Unmount ISO
      ansible.posix.mount:
        path: /media/ISO
        state: unmounted
      when: mount_ISO_result.changed