---
- name: Install rsync
  ansible.builtin.package:
    name: "{{ RSYNC }}"  

- name: Create folder for ISO Content
  ansible.builtin.file:
    path: "{{ IMAGES_CONTENT }}/{{ iso.folder_name }}"
    state: directory
  register: content_folder_result
    
- name: Copy ISO to ISO_Images
  ansible.builtin.copy:
    src: ./ISO/{{ iso.file_name }}
    dest: "{{ ISO_IMAGES }}/"
  register: copy_ISO_result
    
- block:
    - name: Mount ISO
      ansible.posix.mount:
        path: /media/ISO
        src: "{{ ISO_IMAGES }}/{{ iso.file_name  }}"
        fstype: iso9660
        opts: "loop"
        state: ephemeral
      when: copy_ISO_result.changed or content_folder_result.changed
      register: mount_ISO_result
    - name: Copy ISO files
      ansible.posix.synchronize:
        src: /media/ISO/
        dest: "{{ IMAGES_CONTENT }}/{{ iso.folder_name }}/"
        archive: true
      delegate_to: "{{ SERVER_IP }}"
      when: mount_ISO_result.changed
  always:
    - name: Unmount ISO
      ansible.posix.mount:
        path: /media/ISO
        state: unmounted
      when: mount_ISO_result.changed