---
  - name: Configure secondary network interface using a template file (Debian)
    ansible.builtin.template:
      src: ./templates/pxe-iface.j2
      dest: /etc/network/interfaces.d/{{ PXE_INTERFACE }}.cfg
      owner: root
      group: root
      mode: '0644'
    when: ansbile_facts['os_family'] == 'Debian'
    notify:
      - Restart network interface
      - Restart TFTP
  - name: Enable secondary network interface
    ansible.builtin.command: "ifup {{ PXE_INTERFACE }}"
    when: secondary_iface_result.changed